.logoname{
    float: left;

}
.list>ul{
    display: flex;
    float: right;
    list-style-type: none;
    position: relative;
    left: -200px;
}
.list>ul>li{
    margin: 8px;
    padding: 2px;
    
}
.mage1>img{
    height: 380px;
    width: 300px;
    float: right;
    position: relative;
    right: -150px;
    top: 100px;
}
.explanation1{
    position: relative;
    top: 200px;
}

.container1{
    display: flex;
    position: relative;
    top: 200px;
    width: 80%;
    left: 10%;
    justify-content: center;
    background-color: #e1ebe6;


}   
.quality{
margin-right: 25px;
    border: 1px solid #73313c;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
} 
.quality>h2{
    color: #73313c;
}
section1{
    background-color: #e1ebe6;
}
.description{
    position: relative;
    top: 300px;
}
.container3{
    position: relative;
    top: 300px;
    display: flex;
    width: 100%;
   
}

.mn1{
    text-align: center;
    font-size: smaller;
    margin-right: 25px;
    border: 3px solid gray;
    border-radius: 30px;
}
.mn1>img{
    height: 120px;
    width: 120px;

}
.mn1>h2{
    color: #73313c;
}
.container4{
    position: relative;
    top: 320px;
    display: flex;
    width: 100%;
   
}
.mn2{
    text-align: center;
    font-size: smaller;
    margin-right: 25px;
    border: 3px solid gray;
    border-radius: 30px;
    
}
.mn2>img{
    height: 120px;
    width: 120px;


}
.mn2>h2{
    color: #73313c;
}

