header{
    border: 2px solid red;
    height: 600px;
}
.logoname{
    float: left;
}
#p1{
    position: relative;
    left: 30px;
    top: 30px;
    font-size: larger;

}
#p1>span{
color: yellow;
}
.logoname>img{
    position: relative;
    left: 30px;
    top: 10px;
}
.list>ul{
    display: flex;
    float: right;
    list-style-type: none;
    position: relative;
    right: -200px;
    margin-top:-20px;
}
.list>ul>li{
    margin-right: 70px;
    padding: 2px;
    font-size: medium;
    
}
.mage1>img{
    height: 500px;
    width: 350px;
    float: right;
    position: relative;
    right: 160px;
    top: 60px;
}
.expl1{
    position: relative;
    top: 160px;
    left: 30px;
}
#order1{
    position: relative;
    top: 270px;
    left: 70px;
    border: 2px solid #F6B400;
    width: 70px;
    height: 40px;
    padding: 1px;
    text-align: center;
    border-radius: 30px 30px 0px 30px;
    background-color: yellow;
}
.section2{
    border: 2px solid whitesmoke;
    height: 600px;
    background-color: whitesmoke;
}

.container1{
    display: flex;
    position: relative;
    top: 80px;
    justify-content: space-evenly;



}   
.quality{
margin-right: 25px;
    border: 1px solid #73313c;
    padding: 15px;
    border-radius: 15px;
    height: 280px;
    width: 300px;
    position: relative;
    top: 50px;
    text-align: center;
    
} 
.quality1{
        border: 1px solid #73313c;
        padding: 15px;
        border-radius: 15px;
        height: 380px;
        width: 350px;
        text-align: center;
    } 

.quality>h2{
    color: #73313c;
}
section1{
    background-color: #e1ebe6;
}
.description{
    position: relative;
    top: 300px;
}




.section3{
    border: 2px solid white;
    height: 1000px;
    background-color: white;
}
.description{
    position: relative;
    top: 60px;
    left: 50px;
}
#our{
    text-align: center;
    position: relative;
    top: 50px;
}
#our>span{
    color: #F6B400;
    
}
.container3{
    display: flex;
    width: 100
   
}

.mn1{
    text-align: center;
    font-size: smaller;
    margin: 35px;
    border: 3px solid whitesmoke;
    border-radius: 30px;
    height: 350px;
    width: 300px;
    box-shadow: 2px 2px whitesmoke;
}
.mn1>img{
    height: 120px;
    width: 120px;

}
.mn1>h2{
    color: #73313c;
}
.container4{
    display: flex;
    width: 100%;
   
}
.ksh{
    font-weight: bold;
    color: black;
    float: left;
    font-size: larger;
    position: relative;
    left: 5px;
}
.mn2{
    text-align: center;
    font-size: smaller;
    margin: 35px;
    border: 3px solid whitesmoke;
    border-radius: 30px;
    height: 380px;
    width: 300px;
    box-shadow: 2px 2px whitesmoke;
    
}
.mn2>img{
    height: 120px;
    width: 120px;


}
.mn2>h2{
    color: #73313c;
}


.section4{
    border: 2px solid whitesmoke;
    height: 680px;
    background-color: whitesmoke;
}
.d1>img{
    height: 400px;
    width: 350px;
    position: relative;
    right: -800px;
    bottom: 45px;
}
.d2>img{
    height: 450px;
    width: 350px;
    position: relative;
    right: -680px;
    top: -400px;
}
.join{
    position: relative;
    top: 5px;
    width: 600px;
}
.texi>h1{
    font-size: xx-large;
}
.texi{
    position: relative;
    top: 250px;
    left: 90px;
}
.texi>h1>span{
    font-size: xx-large;
    color: #F6B400;
}
.texi>h1>p{
    color: gray;
    font-weight: bold;
    position: relative;
    left: 800px;
}
.round1{
    display: flex;
}
#round{
    border: 2px solid orange;
    height: 20px;
    width: 20px ;
    border-radius: 50%;
    background-color: orange;
    margin-right: 20px;
}
.round{
    border: 2px solid gray;
    height: 20px;
    width: 20px ;
    border-radius: 50%;
    background-color: gray;
    margin-right: 20px;
}
.section5{
    border: 2px solid #F6B400;
    height: 550px;
    display: flex;
    background-color:#F6B400; ;
}
.object2>img{
    border: 2px blue;
    height: 500px;
    width: 450px;
    position: relative;
    right: -300px;
}
.logoh{
    display: flex;
    
}
.logoh1>img{
    width: 190px;
    height: 70px;
    margin-right: 25px;
}
.object1{
    position: relative;
    left: 100px;
    top: 130px;
}
