ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color: #FFFFFF;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: inline;
    list-style-type: none;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #FFFFFF;
  }

         
}
